img.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

table.circle td a { display: block;}

tbody tr.clickable:hover td {
    background: #ecf2fa;
    cursor: pointer;
}
