img.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: 1px #AAAAAA solid;
}

table.circle td a { display: block;}

tbody tr.clickable:hover td {
    background: #ecf2fa;
    cursor: pointer;
}

.goal {
  padding-top: 10px;
  max-height: 110px;
  overflow: hidden
}

.updated {
  color: #888888;
  font-size: 8px;
  text-align: right;
}

.comment {
  color: #888888;
}

.table {
  border-bottom: 2px solid #eee;
}

.nothing {
  color: #888888
}